---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/analytics/v3/management/accounts/54516992/webproperties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.GlwQBcY6519GZveD0nGMoCGtAiRplSe3TMS_Yc6e9Dyw4J1uBTCYokcIwWVNNIfz8XsRbmKXv6QQAt-R8GOQzzzLmPgaI1HR_LMNrXVhXEMcH-duOzDdGRsX0_13Dg
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sP5LBgqDii7ksJERAgMB0CpTbRM/ou4JGQCOV-v6gudZpu38ER_qTSQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"kind":"analytics#webproperties","username":"grosup.dev@gmail.com","totalResults":1,"startIndex":1,"itemsPerPage":1000,"items":[{"id":"UA-54516992-1","kind":"analytics#webproperty","selfLink":"https://www.googleapis.com/analytics/v3/management/accounts/54516992/webproperties/UA-54516992-1","accountId":"54516992","internalWebPropertyId":"87479473","name":"Google
        Merchandise Store","websiteUrl":"https://shop.googlemerchandisestore.com","level":"STANDARD","profileCount":3,"industryVertical":"SHOPPING","defaultProfileId":"92320289","permissions":{"effective":["READ_AND_ANALYZE"]},"created":"2014-09-06T17:53:33.397Z","updated":"2017-02-01T04:27:48.223Z","parentLink":{"type":"analytics#account","href":"https://www.googleapis.com/analytics/v3/management/accounts/54516992"},"childLink":{"type":"analytics#profiles","href":"https://www.googleapis.com/analytics/v3/management/accounts/54516992/webproperties/UA-54516992-1/profiles"}}]}'
  recorded_at: Sun, 26 Nov 2017 16:36:00 GMT
- request:
    method: get
    uri: https://www.googleapis.com/analytics/v3/management/accounts/54516992/webproperties/UA-54516992-1/profiles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.GlwQBcY6519GZveD0nGMoCGtAiRplSe3TMS_Yc6e9Dyw4J1uBTCYokcIwWVNNIfz8XsRbmKXv6QQAt-R8GOQzzzLmPgaI1HR_LMNrXVhXEMcH-duOzDdGRsX0_13Dg
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sP5LBgqDii7ksJERAgMB0CpTbRM/AlIRfOymzoQanDKbyFmEuqXC-B4"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"kind":"analytics#profiles","username":"grosup.dev@gmail.com","totalResults":3,"startIndex":1,"itemsPerPage":1000,"items":[{"id":"90822334","kind":"analytics#profile","selfLink":"https://www.googleapis.com/analytics/v3/management/accounts/54516992/webproperties/UA-54516992-1/profiles/90822334","accountId":"54516992","webPropertyId":"UA-54516992-1","internalWebPropertyId":"87479473","name":"3
        Raw Data View","currency":"USD","timezone":"America/Los_Angeles","websiteUrl":"https://shop.googlemerchandisestore.com","defaultPage":"home","excludeQueryParameters":"vid,
        cid, page_no, mt, key, executedAction, executeActionStatus","siteSearchQueryParameters":"keywords","stripSiteSearchQueryParameters":true,"type":"WEB","permissions":{"effective":["READ_AND_ANALYZE"]},"created":"2014-09-06T17:53:33.397Z","updated":"2017-05-08T08:45:29.898Z","eCommerceTracking":true,"enhancedECommerceTracking":true,"botFilteringEnabled":true,"parentLink":{"type":"analytics#webproperty","href":"https://www.googleapis.com/analytics/v3/management/accounts/54516992/webproperties/UA-54516992-1"},"childLink":{"type":"analytics#goals","href":"https://www.googleapis.com/analytics/v3/management/accounts/54516992/webproperties/UA-54516992-1/profiles/90822334/goals"}},{"id":"92320289","kind":"analytics#profile","selfLink":"https://www.googleapis.com/analytics/v3/management/accounts/54516992/webproperties/UA-54516992-1/profiles/92320289","[...]
