---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/analytics/v3/management/accounts/~all/webproperties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.GlwTBcQS4HrC88JVyv-QEhb4A_d81bF8BrP4mfl4aSM-qSIV3GiD4psexywVgVFpg5q7u83jVOZS1DauIPZTvsZk6JQ-IgU7rnkzwy66WAflc0u3wMl8Kj89628HeA
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sP5LBgqDii7ksJERAgMB0CpTbRM/z0uuiaNGUNLn7NZsH1Luf2sjaio"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"kind":"analytics#webproperties","username":"grosup.dev@gmail.com","totalResults":2,"startIndex":1,"itemsPerPage":1000,"items":[{"id":"UA-54516992-1","kind":"analytics#webproperty","selfLink":"https://www.googleapis.com/analytics/v3/management/accounts/54516992/webproperties/UA-54516992-1","accountId":"54516992","internalWebPropertyId":"87479473","name":"Google
        Merchandise Store","websiteUrl":"https://shop.googlemerchandisestore.com","level":"STANDARD","profileCount":3,"industryVertical":"SHOPPING","defaultProfileId":"92320289","permissions":{"effective":["READ_AND_ANALYZE"]},"created":"2014-09-06T17:53:33.397Z","updated":"2017-02-01T04:27:48.223Z","parentLink":{"type":"analytics#account","href":"https://www.googleapis.com/analytics/v3/management/accounts/54516992"},"childLink":{"type":"analytics#profiles","href":"https://www.googleapis.com/analytics/v3/management/accounts/54516992/webproperties/UA-54516992-1/profiles"}},{"id":"UA-89701710-2","kind":"analytics#webproperty","selfLink":"https://www.googleapis.com/analytics/v3/management/accounts/89701710/webproperties/UA-89701710-2","accountId":"89701710","internalWebPropertyId":"155652350","name":"dev-growth-support","websiteUrl":"https://growth-support.net/","level":"STANDARD","profileCount":1,"industryVertical":"INTERNET_AND_TELECOM","defaultProfileId":"157283074","permissions":{"effective":[]},"created":"2017-08-08T04:26:55.603Z","updated":"2017-08-08T06:23:31.768Z","parentLink":{"type":"analytics#account","href":"https://www.googleapis.com/analytics/v3/management/accounts/89701710"},"childLink":{"type":"analytics#profiles","href":"https://www.googleapis.com/analytics/v3/management/accounts/89701710/webproperties/UA-89701710-2/profiles"}}]}'
  recorded_at: Wed, 29 Nov 2017 01:53:49 GMT
recorded_with: VCR 3.0.3
