---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/analytics/v3/management/accounts/54516992/webproperties/UA-54516992-1/profiles/92320289/goals
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.GlwQBcY6519GZveD0nGMoCGtAiRplSe3TMS_Yc6e9Dyw4J1uBTCYokcIwWVNNIfz8XsRbmKXv6QQAt-R8GOQzzzLmPgaI1HR_LMNrXVhXEMcH-duOzDdGRsX0_13Dg
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sP5LBgqDii7ksJERAgMB0CpTbRM/yazthM4P_S_A7j9mpYQycAmwHRo"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"kind":"analytics#goals","username":"grosup.dev@gmail.com","totalResults":4,"startIndex":1,"itemsPerPage":1000,"items":[{"id":"1","kind":"analytics#goal","selfLink":"https://www.googleapis.com/analytics/v3/management/accounts/54516992/webproperties/UA-54516992-1/profiles/92320289/goals/1","accountId":"54516992","webPropertyId":"UA-54516992-1","internalWebPropertyId":"87479473","profileId":"92320289","name":"Purchase
        Completed","value":0.0,"active":true,"type":"URL_DESTINATION","created":"2014-10-10T20:13:47.841Z","updated":"2016-11-10T23:07:35.563Z","parentLink":{"type":"analytics#profile","href":"https://www.googleapis.com/analytics/v3/management/accounts/54516992/webproperties/UA-54516992-1/profiles/92320289"},"urlDestinationDetails":{"url":"/ordercompleted\\.html","caseSensitive":false,"matchType":"REGEX","firstStepRequired":true,"steps":[{"number":1,"name":"Cart","url":"/basket\\.html"},{"number":2,"name":"Billing
        and Shipping","url":"/yourinfo\\.html"},{"number":3,"name":"Payment","url":"/payment\\.html"},{"number":4,"name":"Review","url":"/revieworder\\.html"}]}},{"id":"2","kind":"analytics#goal","selfLink":"https://www.googleapis.com/analytics/v3/management/accounts/54516992/webproperties/UA-54516992-1/profiles/92320289/goals/2","accountId":"54516992","webPropertyId":"UA-54516992-1","internalWebPropertyId":"87479473","profileId":"92320289","name":"Engaged
        Users","value":0.0,"active":true,"type":"VISIT_NUM_PAGES","created":"2015-02-23T16:18:06.755Z","updated":"2015-04-14T12:02:21.918Z","parentLink":{"type":"analytics#profile","href":"https://www.googleapis.com/analytics/v3/management/accounts/54516992/webproperties/UA-54516992-1/profiles/92320289"},"visitNumPagesDetails":{"comparisonType":"GREATER_THAN","comparisonValue":"10"}},{"id":"3","kind":"analytics#goal","selfLink":"https://www.googleapis.com/analytics/v3/management/accounts/54516992/webproperties/UA-54516992-1/profiles/92320289/goals/3","accountId":"54516992","webPropertyId":"UA-54516992-1","internalWebPropertyId":"87479473","profileId":"92320289","name":"Registrations","value":0.0,"active":true,"type":"URL_DESTINATION","created":"2015-02-27T12:15:01.448Z","updated":"2016-07-26T16:14:09.890Z","parentLink":{"type":"analytics#profile","href":"https://www.g[...]
