---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/analytics/v3/management/segments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.GlwTBazXr_t1JllyKI11RxyT8lWr9mN0MqonfR4_cgfsR5vtElvNiOh0NYvLgpdpHMKobVyL8bZya5aUU3NSjr0oOwht2I3au41z4oGE9eFhQfrBhUEbn6MjqS41KQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sP5LBgqDii7ksJERAgMB0CpTbRM/KokBeunr8YrSfTsESE-SaCFGrW4"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"kind":"analytics#segments","username":"grosup.dev@gmail.com","totalResults":25,"startIndex":1,"itemsPerPage":1000,"items":[{"id":"-1","kind":"analytics#segment","selfLink":"https://www.googleapis.com/analytics/v3/management/segments/gaid::-1","segmentId":"gaid::-1","name":"All
        Users","definition":"","type":"BUILT_IN"},{"id":"-2","kind":"analytics#segment","selfLink":"https://www.googleapis.com/analytics/v3/management/segments/gaid::-2","segmentId":"gaid::-2","name":"New
        Users","definition":"sessions::condition::ga:userType==New Visitor","type":"BUILT_IN"},{"id":"-3","kind":"analytics#segment","selfLink":"https://www.googleapis.com/analytics/v3/management/segments/gaid::-3","segmentId":"gaid::-3","name":"Returning
        Users","definition":"sessions::condition::ga:userType==Returning Visi[...]
