---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/analytics/v3/management/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.GlwTBazXr_t1JllyKI11RxyT8lWr9mN0MqonfR4_cgfsR5vtElvNiOh0NYvLgpdpHMKobVyL8bZya5aUU3NSjr0oOwht2I3au41z4oGE9eFhQfrBhUEbn6MjqS41KQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sP5LBgqDii7ksJERAgMB0CpTbRM/57Jlvit5m1REK-zA86g3wmR91QQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"kind":"analytics#accounts","username":"grosup.dev@gmail.com","totalResults":2,"startIndex":1,"itemsPerPage":1000,"items":[{"id":"54516992","kind":"analytics#account","selfLink":"https://www.googleapis.com/analytics/v3/management/accounts/54516992","name":"Demo
        Account (Beta)","permissions":{"effective":["READ_AND_ANALYZE"]},"created":"2014-09-06T17:53:33.397Z","updated":"2017-07-08T01:30:26.864Z","childLink":{"type":"analytics#webproperties","href":"https://www.googleapis.com/analytics/v3/management/accounts/54516992/webproperties"}},{"id":"89701710","kind":"analytics#account","selfLink":"https://www.googleapis.com/analytics/v3/management/accounts/89701710","name":"DIG","permissions":{"effective":[]},"created":"2017-01-02T08:01:36.133Z","updated":"2017-08-08T04:16:58.981Z","childLink":{"type":"analytics#webproperties","href":"https://www.googleapis.com/analytics/v3/management/accounts/89701710/webproperties"}}]}'
  recorded_at: Wed, 29 Nov 2017 02:54:24 GMT
recorded_with: VCR 3.0.3
