---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/analytics/v3/management/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.GlwQBcY6519GZveD0nGMoCGtAiRplSe3TMS_Yc6e9Dyw4J1uBTCYokcIwWVNNIfz8XsRbmKXv6QQAt-R8GOQzzzLmPgaI1HR_LMNrXVhXEMcH-duOzDdGRsX0_13Dg
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sP5LBgqDii7ksJERAgMB0CpTbRM/57Jlvit5m1REK-zA86g3wmR91QQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"kind":"analytics#accounts","username":"grosup.dev@gmail.com","totalResults":2,"startIndex":1,"itemsPerPage":1000,"items":[{"id":"54516992","kind":"analytics#account","selfLink":"https://www.googleapis.com/analytics/v3/management/accounts/54516992","name":"Demo
        Account (Beta)","permissions":{"effective":["READ_AND_ANALYZE"]},"created":"2014-09-06T17:53:33.397Z","updated":"2017-07-08T01:30:26.864Z","childLink":{"type":"analytics#webproperties","href":"https://www.googleapis.com/analytics/v3/management/accounts/54516992/webproperties"}},{"id":"89701710","kind":"analytics#account","selfLink":"https://www.googleapis.com/analytics/v3/management/accounts/89701710","name":"DIG","permissions":{"effective":[]},"created":"2017-01-02T08:01:36.133Z","updated":"2017-08-08T04:16:58.981Z","childLink":{"type":"analytics#webproperties","href":"https://www.googleapis.com/analytics/v3/management/accounts/89701710/webproperties"}}]}'
  recorded_at: Sun, 26 Nov 2017 16:36:01 GMT
- request:
    method: get
    uri: https://www.googleapis.com/analytics/v3/management/accounts/54516992/webproperties/~all/profiles/~all/goals
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.GlwQBcY6519GZveD0nGMoCGtAiRplSe3TMS_Yc6e9Dyw4J1uBTCYokcIwWVNNIfz8XsRbmKXv6QQAt-R8GOQzzzLmPgaI1HR_LMNrXVhXEMcH-duOzDdGRsX0_13Dg
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sP5LBgqDii7ksJERAgMB0CpTbRM/l-PMVk8479FvQTYxbh3jIu7ZEIA"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"kind":"analytics#goals","username":"grosup.dev@gmail.com","totalResults":12,"startIndex":1,"itemsPerPage":1000,"items":[{"id":"1","kind":"analytics#goal","selfLink":"https://www.googleapis.com/analytics/v3/management/accounts/54516992/webproperties/UA-54516992-1/profiles/90822334/goals/1","accountId":"54516992","webPropertyId":"UA-54516992-1","internalWebPropertyId":"87479473","profileId":"90822334","name":"Purchase
        Completed","value":0.0,"active":true,"type":"URL_DESTINATION","created":"2014-10-10T20:02:07.436Z","updated":"2016-07-26T23:15:21.614Z","parentLink":{"type":"analytics#profile","href":"https://www.googleapis.com/analytics/v3/management/accounts/54516992/webproperties/UA-54516992-1/profiles/90822334"},"urlDestinationDetails":{"url":"/ordercompleted\\.html","caseSensitive":false,"matchType":"REGEX","firstStepRequired":true,"steps":[{"number":1,"name":"Cart","url":"/basket\\.html"},{"number":2,"name":"Billing
        and Shipping","url":"/yourinfo\\.html|/guestregister\\.html|/shipping\\.html"},{"number":3,"name":"Payment","url":"/payment\\.html"},{"number":4,"name":"Review","url":"/revieworder\\.html"}]}},{"id":"2","kind":"analytics#goal","selfLink":"https://www.googleapis.com/analytics/v3/management/accounts/54516992/webproperties/UA-54516992-1/profiles/90822334/goals/2","accountId":"54516992","webPropertyId":"UA-54516992-1","internalWebPropertyId":"87479473","profileId":"90822334","name":"Engaged
        Users","value":0.0,"active":true,"type":"VISIT_NUM_PAGES","created":"2016-07-26T23:16:38.628Z","updated":"2016-07-26T23:16:38.628Z","parentLink":{"type":"analytics#profile","href":"https://www.googleapis.com/analytics/v3/management/accounts/54516992/webproperties/UA-54516992-1/profiles/90822334"},"visitNumPagesDetails":{"comparisonType":"GREATER_THAN","comparisonValue":"10"}},{"id":"3","kind":"analytics#goal","selfLink":"https://www.googleapis.com/analytics/v3/management/accounts/54516992/webproperties/UA-54516992-1/profiles/90822334/goals/3","accountId":"54516992","webPropertyId":"UA-54516992-1","internalWebPropertyId":"87479473","profileId":"90822334","name":"Registrations","value":0.0,"active":true,"type":"URL_DESTINATION","created":"2016-07-26T23:17:44.360Z","updated":"2016-07-26T23:17:44.360Z","parentLink":{"type":"analytics#profile","href":"https://www.g[...]
