---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/analytics/v3/management/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.GlwTBazXr_t1JllyKI11RxyT8lWr9mN0MqonfR4_cgfsR5vtElvNiOh0NYvLgpdpHMKobVyL8bZya5aUU3NSjr0oOwht2I3au41z4oGE9eFhQfrBhUEbn6MjqS41KQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sP5LBgqDii7ksJERAgMB0CpTbRM/57Jlvit5m1REK-zA86g3wmR91QQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"kind":"analytics#accounts","username":"grosup.dev@gmail.com","totalResults":2,"startIndex":1,"itemsPerPage":1000,"items":[{"id":"54516992","kind":"analytics#account","selfLink":"https://www.googleapis.com/analytics/v3/management/accounts/54516992","name":"Demo
        Account (Beta)","permissions":{"effective":["READ_AND_ANALYZE"]},"created":"2014-09-06T17:53:33.397Z","updated":"2017-07-08T01:30:26.864Z","childLink":{"type":"analytics#webproperties","href":"https://www.googleapis.com/analytics/v3/management/accounts/54516992/webproperties"}},{"id":"89701710","kind":"analytics#account","selfLink":"https://www.googleapis.com/analytics/v3/management/accounts/89701710","name":"DIG","permissions":{"effective":[]},"created":"2017-01-02T08:01:36.133Z","updated":"2017-08-08T04:16:58.981Z","childLink":{"type":"analytics#webproperties","href":"https://www.googleapis.com/analytics/v3/management/accounts/89701710/webproperties"}}]}'
  recorded_at: Wed, 29 Nov 2017 02:54:18 GMT
- request:
    method: get
    uri: https://www.googleapis.com/analytics/v3/management/accounts/54516992/webproperties/~all/profiles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.GlwTBazXr_t1JllyKI11RxyT8lWr9mN0MqonfR4_cgfsR5vtElvNiOh0NYvLgpdpHMKobVyL8bZya5aUU3NSjr0oOwht2I3au41z4oGE9eFhQfrBhUEbn6MjqS41KQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sP5LBgqDii7ksJERAgMB0CpTbRM/-2CawncRyR7Isk0tM99AXz7o1Mo"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"kind":"analytics#profiles","username":"grosup.dev@gmail.com","totalResults":3,"startIndex":1,"itemsPerPage":1000,"items":[{"id":"90822334","kind":"analytics#profile","selfLink":"https://www.googleapis.com/analytics/v3/management/accounts/54516992/webproperties/UA-54516992-1/profiles/90822334","accountId":"54516992","webPropertyId":"UA-54516992-1","internalWebPropertyId":"87479473","name":"3
        Raw Data View","currency":"USD","timezone":"America/Los_Angeles","websiteUrl":"https://shop.googlemerchandisestore.com","defaultPage":"home","excludeQueryParameters":"vid,
        cid, page_no, mt, key, executedAction, executeActionStatus","siteSearchQueryParameters":"keywords","stripSiteSearchQueryParameters":true,"type":"WEB","permissions":{"effective":["READ_AND_ANALYZE"]},"created":"2014-09-06T17:53:33.397Z","updated":"2017-05-08T08:45:29.898Z","eCommerceTracking":true,"enhancedECommerceTracking":true,"botFilteringEnabled":true,"parentLink":{"type":"analytics#webproperty","href":"https://www.googleapis.com/analytics/v3/management/accounts/54516992/webproperties/UA-54516992-1"},"childLink":{"type":"analytics#goals","href":"https://www.googleapis.com/analytics/v3/management/accounts/54516992/webproperties/UA-54516992-1/profiles/90822334/goals"}},{"id":"92320289","kind":"analytics#profile","selfLink":"https://www.googleapis.com/analytics/v3/management/accounts/54516992/webproperties/UA-54516992-1/profiles/92320289","accountId":"545169[...]
