---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/analytics/v3/management/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.GlwQBcY6519GZveD0nGMoCGtAiRplSe3TMS_Yc6e9Dyw4J1uBTCYokcIwWVNNIfz8XsRbmKXv6QQAt-R8GOQzzzLmPgaI1HR_LMNrXVhXEMcH-duOzDdGRsX0_13Dg
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sP5LBgqDii7ksJERAgMB0CpTbRM/57Jlvit5m1REK-zA86g3wmR91QQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"kind":"analytics#accounts","username":"grosup.dev@gmail.com","totalResults":2,"startIndex":1,"itemsPerPage":1000,"items":[{"id":"54516992","kind":"analytics#account","selfLink":"https://www.googleapis.com/analytics/v3/management/accounts/54516992","name":"Demo
        Account (Beta)","permissions":{"effective":["READ_AND_ANALYZE"]},"created":"2014-09-06T17:53:33.397Z","updated":"2017-07-08T01:30:26.864Z","childLink":{"type":"analytics#webproperties","href":"https://www.googleapis.com/analytics/v3/management/accounts/54516992/webproperties"}},{"id":"89701710","kind":"analytics#account","selfLink":"https://www.googleapis.com/analytics/v3/management/accounts/89701710","name":"DIG","permissions":{"effective":[]},"created":"2017-01-02T08:01:36.133Z","updated":"2017-08-08T04:16:58.981Z","childLink":{"type":"analytics#webproperties","href":"https://www.googleapis.com/analytics/v3/management/accounts/89701710/webproperties"}}]}'
  recorded_at: Sun, 26 Nov 2017 16:36:10 GMT
recorded_with: VCR 3.0.3
